<div class="flex justify-start mb-4 msg-<%= message.user.id %>">
  <div class="msg-ballom ml-2 py-3 px-4 bg-gray-400 rounded-br-[0.75rem] rounded-tr-[0.75rem] rounded-tl-[0.75rem] text-white">
    <% unless message.room.is_private %>
      <h6 class="font-bold name-user"> <%= message.user.username.capitalize %> </h6>
    <% end %>
    <%= message.content %>
  </div>
</div>