<a href="/users/<%= user.id %>"
  class="flex flex-row gap-4  py-4 px-2 justify-center items-center border-b-2 border-gray-100/10 hover:text-gray-400 hover:bg-gray-800"
>
  <div class="w-full pl-3">
    <i class="fa-regular fa-comment"></i><div class="text-lg font-semibold"><%= user.username.capitalize %></div>
  </div>
</a>